* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	&:hover {
		@extend a;
	}
	&:active {
		@extend a;
	}
	&:focus {
		@extend a;
	}
}
button {
	border: none;
	outline: none;
	&:hover {
		@extend button;
	}
	&:active {
		@extend button;
	}
	&:focus {
		@extend button;
	}
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: map-get($weight, regular);
}

p {
	font-size: 24px;
}

.container__lg {
	max-width: 1780px;
}
.container__sm {
	max-width: 1180px;
}

section {
	padding: 60px 0px;
	z-index: 1;
}
