/* colors variables */
$colors: (
	Donjuan: #575153,
	Dovegray: #727272,
	Dustygray: #9a9a9a,
	gray: #8c8c8c,
	eggblue: #00c8c8,
	abbey: #454647,
	mine: #333333,
);

/* colors variables end*/

/* fontweight variables */
$weight: (
	'regular': 400,
	'medium': 500,
	'semi-bold': 600,
	'bold': 700,
	'extra-bold': 800,
);
/* fontweight variables end*/

/* ?? variables */
/* ?? variables end*/
