#country{
    .country__content_heading{
        @include font(18px, 20px, weight(regular), color(Donjuan));
        text-transform: uppercase;
        padding-bottom: 10px;
    }
    .country__content__info{
        @include font(13px, 20px, weight(regular), color(Dovegray));
        text-transform: uppercase;
    }
    .country__content__details{
        @include font(15px, 22px, weight(regular), color(gray));
        padding-top: 10px;
        padding-bottom: 30px;
    }
}
#country-address{
    background: #f8f8f8;
    padding: 0;
    margin-bottom: 120px;
    .country__content_heading{
        @include font(18px, 20px, weight(regular), color(Donjuan));
        text-transform: uppercase;
        padding-bottom: 15px;
        margin-top: 37px;
    } 
    .country__content_location{
        @include font(15px, 22px, weight(regular), color(gray));
        text-transform: uppercase;
    }
    .country__info{
        p{
            @include font(13px, 20px, weight(regular), color(Dovegray));
            padding-top: 10px;
            padding-bottom: 13px;
        }
    }
    .country__content__info{
        @include font(13px, 20px, weight(regular), color(Dovegray));
        padding-top: 8px;
        padding-bottom: 25px;
        li{
            padding-bottom: 10px;
            list-style: none;
            i{
                margin-right: 15px;
            }
        }
    }
    .country__content_links {
        margin-top: 25px;
        .list-inline-item{ 
            background: #727272;
            border-radius: 100%;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin-right: 12px;
            transition: .3s;
            &:hover{
                background: color(eggblue);
            }
            a{
                color: white;
            }
        }
    }
}