header {
	position: sticky;
	top: -20px;
	left: 0;
	z-index: 9999;

	.header-top {
		// background-color: #333333;
		background-color: map-get($map: $colors, $key: mine);

		&__content {
			display: flex;
			justify-content: space-between;

			.contents__box {
				display: flex;
				.dropdown {
					.btn {
						background-color: transparent;
						border: 0;
						outline: none;
					}
				}
			}
		}
	}
}
