#products {
	.container {
		.produtcs__tab {
			border: 0;
			border-top: 1px solid #ddd;
			padding: 45px 0px;
			.products__item_link {
				.nav-link {
					border: none;
					@include font(13, null, weight(bold), #727272);
					text-transform: uppercase;
					&.active {
						border: none;
						color: color(eggblue);
					}
				}
			}
		}
		.products__content {
			.products__items {
				.products__card {
					position: relative;
					transition: all 0.3s ease-in-out;
					z-index: 3;

					&:hover {
						transform: scale(1.1);
						z-index: 4;
						.products__overlay {
							background: #fff;
							border-top: 1px solid #ddd;
							height: 150px;
							z-index: 2;
							transform: translateY(0);
							transition-delay: 0.6 ease-out;
							box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
						}
						.product__img {
							box-shadow: none;
						}
					}
					.product__img {
						position: relative;
						z-index: 1;
						transition: all 0.3s ease-in-out;
						box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
						overflow: hidden;
						img {
							max-width: 100%;
							height: 100%;
						}
					}
					.products__overlay {
						z-index: -1;
						height: 0px;
						transform: translateY(-250px);
						transition: all 0.6s linear;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 20px;
						padding: 0px 30px;

						.products_name {
							@include font(
								12px,
								20px,
								weight(bold),
								color(boulder)
							);
						}
						.products_description {
							@include font(15px, 20px, null, #8e8c8c);
							text-align: center;
						}
						.products_cartout {
							display: flex;
							li {
								padding-top: 16px;
								margin: 0px 7px;
								button {
									width: 38px;
									height: 38px;
									line-height: 38px;
									border-radius: 50%;
									transition: all 0.3s linear;
									background-color: #727272;
									&:hover {
										background-color: color(eggblue);

										i {
											color: #fff;
										}
									}
									i {
										color: #fff;
									}
								}
							}
						}
					}
					&.bwh {
						// display: none;
						width: 420px;
						margin-left: auto;
						@include mobile {
							width: inherit;
							margin: 0;
						}
					}
				}
			}
		}
	}
}

//  products banner img
.product__img {
	position: relative;
	@include mobile {
		margin: 0;
		margin-bottom: 30px;
	}
	// margin-bottom: 30px;
	.content__text {
		position: absolute;
		top: 100px;
		left: 20px;
		@include mobile {
			top: 24px;
		}
		.content_title {
			@include font(48px, 54px, null, #575153);
			text-transform: uppercase;
			.bold {
				font-family: proximaB;
				display: inline-block;
			}
		}
		.content_subtitle {
			@include font(13px, 20px, weight(bold), #727272);
			text-transform: uppercase;
			margin-bottom: 0;
		}
		.content_description {
			@include font(15px, 25px, weight(600), #8e8c8c);
			text-transform: uppercase;
			width: 40%;
			padding: 16px 0px;
		}
	}

	&.bwh {
		width: 1300px;
		@include mobile {
			width: inherit;
		}
		img {
			height: 500px;
		}
	}
}

// border bottom on tab
#products {
	.tab-content {
		border-bottom: 1px solid #ddd;
		padding-bottom: 30px;
	}
}
