/* 
================= setup sass compiler ================


==================== End ======================
*/
/* setup sass compiler end */
/* ?? start */
/* colors variables */
/* colors variables end*/
/* fontweight variables */
/* fontweight variables end*/
/* ?? variables */
/* ?? variables end*/
/* ?? end */
/* reset default element start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
}

button, button.btn, button:hover, button:active, button:focus {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container__lg {
  max-width: 1780px;
}

.container__sm {
  max-width: 1180px;
}

section {
  padding: 60px 0px;
  z-index: 1;
}

/* reset default element end */
header .header-top__content .contents__box .dropdown.empty .dropdown__btn, header .header-top__content .contents__box .dropdown.gbp .dropdown__btn, header .navbar-nav .nav-item .nav-link {
  position: relative;
}

header .header-top__content .contents__box .dropdown.empty .dropdown__btn::after, header .header-top__content .contents__box .dropdown.gbp .dropdown__btn::after, header .navbar-nav .nav-item .nav-link::after {
  content: '\f107';
  font-weight: 900;
  font-family: 'Font Awesome\ 5 Free';
  border: 0;
  position: absolute;
  right: -2px;
  top: 5px;
}

/* header  start */
header {
  position: relative;
}

header .header-top {
  background-color: #333333;
  height: 45px;
  line-height: 45px;
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  color: #777777;
}

header .header-top__content {
  display: flex;
  justify-content: space-between;
}

header .header-top__content .contents__box {
  display: flex;
}

header .header-top__content .contents__box p {
  font-size: 13px;
  line-height: 45px;
  color: #777777;
}

header .header-top__content .contents__box .dropdown__btn {
  font-size: 13px;
  line-height: 30px;
  color: #777777;
}

header .header-top__content .contents__box .dropdown__btn:focus {
  outline: none;
  box-shadow: none;
}

header .header-top__content .contents__box .dropdown.empty {
  background: #00c8c8;
  width: 147px;
  text-align: center;
}

header .header-top__content .contents__box .dropdown.empty .dropdown__btn {
  color: #fff;
}

header .header-top__content .contents__box .dropdown.empty .dropdown__btn::before {
  content: '\f07a';
  font-weight: 900;
  font-family: 'Font Awesome\ 5 Free';
  margin-right: 10px;
}

header .header-top__content .contents__box_user {
  background: transparent;
  color: #777777;
  margin: 0px 18px;
}

header .navbar {
  background: transparent !important;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 999;
}

header .navbar-brand {
  font-size: 24px;
  line-height: auto;
  font-weight: 300;
  color: #222222;
  text-transform: uppercase;
}

header .navbar-brand .bold {
  font-weight: 700;
}

header .navbar-nav {
  margin-right: 80px;
}

header .navbar-nav .nav-item {
  margin: 0px 30px;
}

header .navbar-nav .nav-item:nth-child(3) .nav-link::after {
  display: none;
}

header .navbar-nav .nav-item .nav-link {
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color: #222222;
}

header .navbar-nav .nav-item .nav-link.active {
  color: #00c8c8;
}

header .navbar-nav .nav-item .nav-link:hover {
  color: #00c8c8;
}

header .navbar-nav .nav-item .nav-link::after {
  top: 28px;
  left: 0;
}

header .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: flex;
  width: 468px;
  top: 140%;
  padding: 30px;
}

header .navbar-nav .nav-item.dropdown:hover .dropdown-menu.show {
  display: none !important;
  background: red;
}

header .navbar-nav .nav-item.dropdown:hover .dropdown-menu__lists .menu__list_categeory {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #575153;
  text-transform: uppercase;
  margin-bottom: 22px;
}

header .navbar-nav .nav-item.dropdown:hover .dropdown-menu__lists .menu__list .menu_item a {
  font-size: 12px;
  line-height: 30px;
  color: #727272;
  text-transform: capitalize;
}

header .navbar-nav .nav-item.dropdown:hover .dropdown-menu__lists .menu__list .menu_item a:hover {
  text-decoration: underline;
}

header .navbar-nav .nav-item.dropdown:hover .dropdown-menu__lists:nth-child(3) {
  background-color: #333333;
  text-align: center;
  margin-top: 60px;
  padding: 65px 50px;
}

header .navbar-nav .nav-item.dropdown:hover .dropdown-menu__lists:nth-child(3) .offer {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

header .navbar-nav .nav-item.dropdown:hover .dropdown-menu__lists:nth-child(3) .offer span {
  display: block;
  font-weight: 400;
}

header .navbar .our__search {
  position: relative;
}

header .navbar .our__search input {
  border: 1px solid #e7e7e7;
}

header .navbar .our__search input:focus {
  outline: none;
  box-shadow: none;
}

header .navbar .our__search button {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 0px;
}

header .navbar .our__search button::after {
  content: '\f002';
  font-weight: 900;
  font-family: 'Font Awesome\ 5 Free';
  font-size: 18px;
  position: absolute;
  right: 0px;
  color: #989898;
}

header .navbar .our__search button:focus {
  box-shadow: none;
  outline: none;
}

/* header  end */
/* Banner start */
#banner {
  position: relative;
  background: url("../images/banner/banner.png") top center/cover no-repeat;
  height: 100vh;
}

/* Banner end */
/* sub-Banner start */
#sub-banner {
  position: relative;
  background: url("../images/banner/about.jpg") top center/cover no-repeat;
  height: 45vh;
}

/* sub-Banner end */
/* ?? start */
/* ?? end */
/* responsive start */
/* large device size start */
@media (min-width: 1200px) and (max-width: 1600px) {
  /* section start */
  /* section end */
  /* section start */
  /* section end */
}

/* large device size end */
/* laptop device size start */
@media (min-width: 992px) and (max-width: 1199px) {
  /* section start */
  /* section end */
  /* section start */
  /* section end */
}

/* laptop device size end */
/* tablet device size start */
@media (max-width: 768px) and (max-width: 991px) {
  /* section start */
  /* section end */
  /* section start */
  /* section end */
}

/* tablet device size end */
/* mobile device size start */
@media (max-width: 767px) {
  /* Section start */
  /* Section end */
  /* header start */
  header .navbar {
    position: relative;
    top: 0;
    left: 0;
    background: #fff !important;
  }
  header .navbar-nav .nav-item .nav-link::after {
    top: 10px;
    left: 100%;
  }
  header .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: flex;
    width: 590px;
    top: 140%;
    padding: 30px;
  }
  header .navbar .our__search input {
    border: 1px solid #e7e7e7;
    width: 100%;
  }
  header .navbar-nav .nav-item {
    margin: 10px 30px;
  }
  /* header end */
  /* Section start */
  /* Section end */
}

/* mobile device size end */
/* mobile device size start */
@media (min-width: 320px) and (max-width: 480px) {
  /* header start */
  header .navbar-nav {
    margin-right: 0px !important;
  }
  header .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    width: 100%;
  }
  header .navbar .our__search button::after {
    top: 0px;
  }
  /* header end */
  /* section start */
  /* section end */
}

/* mobile device size end */
/* ?? device size start */
/* ?? device size end */
/* responsive end */
/*# sourceMappingURL=main.css.map */